In [62]:
WITH home AS(
	SELECT 
		game_id,
		CASE WHEN home_points::integer > away_points::integer THEN 'win'
		ELSE 'loss' end as home_record
	FROM 'cfb_games_in_data_repo.csv'
	WHERE home_team = 'Miami'),
away AS(
SELECT 
		game_id,
		CASE WHEN home_points::integer < away_points::integer THEN 'win'
		ELSE 'loss' end as away_record
	FROM 'cfb_games_in_data_repo.csv'
	WHERE away_team = 'Miami')
	
SELECT
	g.game_id,
	g.season,
	g.home_team,
	g.away_team,
	home.home_record,
	away.away_record
FROM 'cfb_games_in_data_repo.csv' as g
LEFT JOIN away
	ON g.game_id = away.game_id
LEFT JOIN home
	ON home.game_id = g.game_id
WHERE (g.home_team = 'Miami'
	OR g.away_team = 'Miami') 
	AND g.season = '2017'
	
ORDER BY start_date
;

      game_id  season       home_team        away_team home_record away_record
0   400937449    2017           Miami  Bethune-Cookman         win        None
1   400937475    2017           Miami           Toledo         win        None
2   400937479    2017            Duke            Miami        None         win
3   400981507    2017   Florida State            Miami        None         win
4   400981508    2017           Miami     Georgia Tech         win        None
5   400937502    2017           Miami         Syracuse         win        None
6   400937508    2017  North Carolina            Miami        None         win
7   400937513    2017           Miami    Virginia Tech         win        None
8   400934581    2017           Miami       Notre Dame         win        None
9   400937525    2017           Miami         Virginia         win        None
10  400937529    2017      Pittsburgh            Miami        None        loss
11  400955155    2017         Clemson            Miami        None        loss
12  400953408    2017           Miami        Wisconsin        loss        None

In [63]:
SELECT 
	season,
	sum(CASE WHEN home_team = 'Miami' AND home_points::integer > away_points::integer THEN 1
	   WHEN away_team = 'Miami' AND away_points::integer > home_points::integer THEN 1
	   ELSE 0 end) as wins,
	sum(CASE WHEN home_team = 'Miami' AND home_points::integer < away_points::integer THEN 1
	   WHEN away_team = 'Miami' AND away_points::integer < home_points::integer THEN 1
	   ELSE 0 end) as loses
FROM 'cfb_games_in_data_repo.csv'
GROUP BY season
ORDER BY season

    season  wins  loses
0     2002   0.0    0.0
1     2003  10.0    2.0
2     2004   8.0    3.0
3     2005   9.0    3.0
4     2006   7.0    6.0
5     2007   5.0    7.0
6     2008   6.0    5.0
7     2009   9.0    4.0
8     2010   7.0    6.0
9     2011   6.0    6.0
10    2012   7.0    5.0
11    2013   9.0    4.0
12    2014   6.0    7.0
13    2015   8.0    5.0
14    2016   9.0    4.0
15    2017  10.0    3.0
16    2018   7.0    6.0
17    2019   6.0    7.0
18    2020   8.0    3.0

In [55]:
SELECT 
	season,
	home_team,
	home_points,
	away_team,
	away_points
FROM 'cfb_games_in_data_repo.csv'
WHERE season = 2017
	AND (home_team = 'Miami' OR away_team = 'Miami')
ORDER BY start_date

    season       home_team home_points        away_team away_points
0     2017           Miami          41  Bethune-Cookman          13
1     2017           Miami          52           Toledo          30
2     2017            Duke           6            Miami          31
3     2017   Florida State          20            Miami          24
4     2017           Miami          25     Georgia Tech          24
5     2017           Miami          27         Syracuse          19
6     2017  North Carolina          19            Miami          24
7     2017           Miami          28    Virginia Tech          10
8     2017           Miami          41       Notre Dame           8
9     2017           Miami          44         Virginia          28
10    2017      Pittsburgh          24            Miami          14
11    2017         Clemson          38            Miami           3
12    2017           Miami          24        Wisconsin          34